/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Dom's Personal Style */
@font-face {
  font-family: dos;
  src: url("../fonts/Perfect_DOS_VGA_437.ttf");
}
.p-bottom-sm {
  padding-bottom: 0.6em;
}

.p-bottom-md {
  padding-bottom: 1em;
}

html {
  background-color: white;
}

body {
  /* A4 Page */
  width: 992px;
  height: 1403px;
  font-size: 16px;
  line-height: 1.3em;
  background-color: #c4c4c4;
  font-family: dos;
  display: flex;
  color: #131313;
}

.container {
  padding: 27px 46px;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 2em;
}

.vertical {
  writing-mode: vertical-rl;
  transform: translate(0, 50%) rotate(180deg);
  position: absolute;
  left: 0;
  bottom: 50%;
  white-space: nowrap;
}
.vertical a {
  color: #140080;
}

a {
  color: #131313;
  text-decoration: none;
}

.table .table-row {
  display: flex;
  margin-bottom: 0.3em;
}

.work .first {
  min-width: 4.9em;
}

.languages .first {
  min-width: 5.4em;
}

.header {
  margin-bottom: 2.4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header img {
  width: 18%;
  height: 100%;
  box-shadow: 1em 1em #131313;
}
.header .titles {
  box-shadow: 1em 1em #131313;
  background-color: #dedede;
  padding: 0.5em 5em;
  border: 2px solid white;
}
.header .titles h1 {
  font-size: 2.7em;
  padding: 0.3em 0;
}
.header .titles h2 {
  font-size: 1.7em;
  padding: 0.2em 0;
  margin-bottom: 0.2em;
}
.header .titles h3 {
  font-size: 1em;
}
.header .first {
  width: 1em;
  margin-right: 0.5em;
  text-align: center;
}

.window {
  display: flex;
  flex-grow: 1;
  margin-bottom: 2.2em;
  padding: 1.5em;
  background-color: #180099;
  box-shadow: 1em 1em #131313;
  color: white;
}
.window .border {
  width: 100%;
  position: relative;
  border: 3px double #19d1ff;
  padding: 1.1em;
}
.window .border .caption {
  white-space: nowrap;
  color: #19d1ff;
  padding: 0 1em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #180099;
}

.center {
  text-align: center;
}

.row {
  display: flex;
}
.row > .first {
  margin-right: 2.2em;
}

strong {
  color: #fffb15;
}

ul {
  padding: 0 1.1em;
}
ul li {
  list-style-type: square;
}

/*# sourceMappingURL=dom.css.map */
