@import 'reset';

/* Dom's Personal Style */

@font-face {
  font-family: dos;
  src: url('../fonts/Perfect_DOS_VGA_437.ttf');
}

$background-color: rgb(196, 196, 196);
$window-color: #180099;
$secondary-color: #19d1ff;
$black: #131313;
$yellow: #fffb15;
$margin-window: 2.2em;
$dimensions: (sm:0.6em , md:1em);

@each $key, $value in $dimensions{
	.p-bottom-#{$key} {
		padding-bottom: $value;
	}
}

html{
  background-color: white;
}

body{
  /* A4 Page */
  width: 992px;
  height: 1403px;

  font-size: 16px;
  line-height: 1.3em;
  background-color: $background-color;
  font-family: dos;
  display: flex;
  color: $black;
}

.container{
  padding: 27px 46px;
  position: relative;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 2em;
}

.vertical{
  writing-mode: vertical-rl;
  transform: translate(0,50%) rotate(180deg);
  position: absolute;
  left: 0;
  bottom: 50%;
  white-space: nowrap;
  a{
    color: darken($window-color, 5%);
  }
}

a{
  color: $black;
  text-decoration: none;
}

.table{
  .table-row{
    display: flex;
    margin-bottom: 0.3em;
  }
}

.work{
  .first{
    min-width: 4.9em;
  }
}

.languages{
  .first{
    min-width: 5.4em;
  }
}

.header{
  margin-bottom: $margin-window + 0.2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img{
    width: 18%;
    height: 100%;
    box-shadow: 1em 1em $black;
  }
  .titles{
    box-shadow: 1em 1em $black;
    background-color: lighten($background-color, 10%);
    padding: 0.5em 5em;
    border: 2px solid white;
    h1{
      font-size:2.7em;
      padding: 0.3em 0;
    }
    h2{
      font-size: 1.7em;
      padding: 0.2em 0;
      margin-bottom: 0.2em;
    }
    h3{
      font-size: 1em;
    }
  }
  .first{
    width: 1em;
    margin-right: 0.5em;
    text-align: center;
  }
}

.window{
  display: flex;
  flex-grow: 1;
  margin-bottom: $margin-window;
  padding: 1.5em;
  background-color: $window-color;
  box-shadow: 1em 1em $black;
  color: white;
  .border{
    width: 100%;
    position: relative;
    border: 3px double $secondary-color;
    padding: 1.1em;
    .caption{
      white-space: nowrap;
      color: $secondary-color;
      padding: 0 1em;
      position: absolute;
      top:0;
      left:50%;
      transform: translate(-50%,-50%);
      background-color: $window-color;
    }
  }
}

.center{
  text-align: center;
}

.row{
  display: flex;
  >.first{
    margin-right: $margin-window;
  }
}

strong{
  color: $yellow;
}

ul{
  padding: 0 1.1em;
  li{
    list-style-type: square;
  }
}